@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply relative;
}
body {
  @apply bg-gray-100 w-full min-h-screen;
}

body {
  position: relative;
}

@layer base {
  :root {
    --text: #0b0408;
    --background: #f1f5f9;
    --primary: #dca8a9;
    --secondary: #e3ceba;
    --accent: #94673d;
    --swiper-navigation-size: 50px;
    --swiper-navigation-color: var(--primary);
    --swiper-pagination-color: var(--primary);
  }
  .dark {
    --text: #fbf4f8;
    --background: #210d17;
    --primary: #582324;
    --secondary: #45301c;
    --accent: #c2956b;
  }
}

.navbar {
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
  left: 50%;
  text-align: center;
  @apply flex flex-col justify-start min-h-screen h-full pt-20  text-center;
}
.center-close-open {
  position: absolute;
  top: 5%;
  transform: translate(-100%, -50%);
  right: 7%;
  text-align: start;
}
.open {
  transform: translate(-50%, -50%);
  transition: transform 0.9s ease;
}
.hide {
  transform: translate(-200%, -50%);
  transition: transform 0.9s ease;
}
/* center */
.center {
  @apply flex justify-center items-center;
}
/* 1 */
.underlineanimation {
  @apply relative;
}
.underlineanimation::after {
  @apply content-[''] bg-primary opacity-60 h-1 absolute w-[0%] left-0 -bottom-[3px] rounded-xl duration-300;
}
.underlineanimation::after:hover {
  @apply w-[100%];
}

.resnavbaranimation:hover {
  @apply border border-red-500 border-opacity-50 bg-white bg-opacity-10;
}
/* 2 */
.showastick {
  @apply relative;
}
.showastick::before {
  @apply content-[''] bg-red-900 opacity-60 h-1 absolute w-[0px] left-5 -bottom-[-20px] rounded-xl duration-500;
}
.showastick::before:hover {
  @apply w-[30px];
}

.fancy-link {
  @apply bg-left-bottom	bg-[length:0%_3px] bg-no-repeat transition-[background-size] duration-500 ease-out no-underline;
  background-image: linear-gradient(#dca8a9, #dca8a9);
}

.fancy-link:hover {
  @apply bg-[length:100%_3px];
}

/* css spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #dca8a9;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* button animation */
.btn_animation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #333;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.btn_animation:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #dca8a9;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btn_animation:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btn_animation span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btn_animation:hover span {
  color: #fff;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  transform-origin: 0%;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  padding: 5px;
}
